APScheduler==3.6.3
beautifulsoup4==4.10.0
bs4==0.0.1
cachetools==4.2.2
certifi==2021.10.8
charset-normalizer==2.0.11
click==8.0.3
colorama==0.4.4
cycler==0.11.0
Flask==2.0.2
fuzzywuzzy==0.18.0
geographiclib==1.52
geopy==2.2.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
matplotlib==3.3.4
numpy==1.19.5
packaging==21.3
pandas==1.1.5
python-dateutil==2.8.2
python-telegram-bot==13.11
requests==2.27.1
seaborn==0.11.2
telegram==0.0.1
urllib3==1.26.8

